:root {
  --primary-cyan: hsl(172, 67%, 45%);
  --neutral-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-gray-cyan: hsl(186, 14%, 43%);
  --neutral-gray-cyan: hsl(184, 14%, 56%);
  --neutral-light-gray-cyan: hsl(185, 41%, 84%);
  --neutral-very-light-gray-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: SpaceMono;
  src: url("./fonts/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: SpaceMonoBold;
  src: url("./fonts/SpaceMono-Bold.ttf");
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 700;
  font-family: SpaceMono;
}

input,
button {
  font-size: 24px;
  font-family: SpaceMonoBold;
  border: 0;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--neutral-light-gray-cyan);
  height: 100%;
}

#calculator {
  height: fit-content;
  width: fit-content;
  background-color: white;
  display: flex;
  gap: 30px;
  flex-direction: row;
  border-radius: 24px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inputs {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#totals {
  font-family: SpaceMonoBold;
  width: 300px;
  border-radius: 24px;
  background-color: var(--neutral-dark-cyan);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#totals > :first-child {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#totals h1 {
  color: var(--primary-cyan);
}

#totals h4 {
  color: var(--neutral-very-light-gray-cyan);
}

#totals p {
  color: var(--neutral-gray-cyan);
}

#totals button {
  background-color: var(--primary-cyan);
  width: 100%;
  color: var(--neutral-dark-cyan);
  padding: 6px;
}

#totals button:hover {
  background-color: hsl(172, 71%, 70%);
}

.per-person {
  display: flex;
  justify-content: space-between;
}

#tip-selects {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 6px;
}

#tip-selects input,
#tip-selects button {
  flex-basis: 30%;
  width: 30%;
}

#tip-selects button {
  background-color: var(--neutral-dark-cyan);
  padding: 3px;
  color: var(--neutral-very-light-gray-cyan);
}

#tip-selects input {
  text-align: center;
}

#bill-total input {
  background: url(./images/icon-dollar.svg) left no-repeat;
}

#people-total input {
  background: url(./images/icon-person.svg) left no-repeat;
}

#bill-total input,
#people-total input {
 padding-left: 9px;
  background-origin: content-box;
  background-color: var(--neutral-very-light-gray-cyan);
}

#bill-total span,
#people-total span {
  display: flex;
  justify-content: space-between;
}

input {
  text-align: right;
  color: var(--neutral-dark-cyan);
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  border: 2px solid var(--neutral-very-light-gray-cyan);
  background-color: var(--neutral-very-light-gray-cyan);
  outline: none;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: var(--neutral-gray-cyan);
  padding-right: 9px;
}

input:hover,
input:focus {
  border: 2px solid var(--primary-cyan);
}

#tip-selects button:hover {
  color: var(--neutral-dark-cyan);
  background-color: hsl(172, 71%, 70%);
}

button:disabled {
  opacity: 0.3;
}

.error {
  color: hsl(12, 81%, 46%);
}
